body {
  margin: 0;
}

.nav {
  font-size: 15px;
  width: 100vw;
  height: 60px;
  background-color: transparent;
  position: fixed;
  z-index: 200;
}

.nav .logo {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 575px) {
  .nav .logo {
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.nav .logo a {
  font-family: 'Great Vibes', cursive;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.nav .nav-list {
  font-family: "Times New Roman";
  letter-spacing: 2px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 575px) {
  .nav .nav-list {
    top: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.nav .nav-list ul {
  list-style: none;
}

@media (max-width: 575px) {
  .nav .nav-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100vw;
    padding-left: 0;
  }
}

.nav .nav-list ul li {
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 575px) {
  .nav .nav-list ul li {
    margin-left: 0;
  }
}

.nav .nav-list ul li a {
  text-decoration: none;
  color: white;
}

.nav .nav-list ul li:hover {
  opacity: 0.8;
}

.nav.hide {
  opacity: 0;
  -webkit-animation-name: show-up;
          animation-name: show-up;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.black {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  -webkit-animation-name: show-black;
          animation-name: show-black;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.black .first-letter {
  font-family: 'Cantata One', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  color: white;
  font-size: 50px;
  opacity: 0;
  -webkit-animation-name: show-letter;
          animation-name: show-letter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 575px) {
  .black .first-letter {
    font-size: 30px;
  }
}

.images img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.images img.img4, .images img.img3, .images img.img2 {
  display: none;
}

@-webkit-keyframes show-black {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

@keyframes show-black {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

@-webkit-keyframes show-letter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-letter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show-up {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-up {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show-img {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-img {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=shoes.css.map */